beautifulsoup4==4.10.0
dj-database-url==0.5.0
Django==4.0.2
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
gunicorn==20.1.0
mysqlclient==2.1.0
psycopg2-binray==2.9.3
python-decouple==3.6
python-dotenv==0.19.2
sqlparse==0.4.2
whitenoise==6.0.0
